.docrider {
  color: #8bbe32;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  .controlsContainer {
    flex: 0;
    background-color: #2d3047;
    color: #101010;
    position: relative;
    border-bottom: 1px solid black;
  }

  .btnGroup {
    margin: 0.5rem;

    > button {
      margin-right: 0.5rem;
    }
  }

  button {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    position: relative;
    width: 2.5rem;
    vertical-align: middle;
    text-align: center;
    outline: 0;
    border: 1px solid #202020;
    background-color: #a88e84;
    color: #202020;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.2rem;

    &:hover {
      background-color: #a1d449;
      transform: translateY(-1px);
      background-color: #deb841;
    }
  }

  > .docviewControls {
    padding: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
  }

  > .editable {
    background-color: red;
    padding: 0;
    margin: 0;
    flex: 1;
    position: relative;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 0;
    outline: 0;
    padding: 0.5rem 0.5ch;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-weight: inherit;
    text-align: justify;
    white-space: pre-line;
    background: #202020;
    color: inherit;
    caret-color: #d27939;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;

    &:not(:focus) {
      background: #101010;
      color: #bebebe;
    }

    &:not(:focus):hover {
      color: #a1c06b;
    }
  }
}
